data.zip
/comp
.venv/
*.pth
*.tar.gz
*.gz
.DS_Store
data
DSSAnimalClassification/data

# Ignore image files everywhere except readImage and Archiecture folders
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.docx

# But allow images in these specific folders
!DSSAnimalClassification/readImage/**/*.jpg
!DSSAnimalClassification/readImage/**/*.png
!DSSAnimalClassification/readImage/**/*.jpeg
!DSSAnimalClassification/Archiecture/**/*.jpg
!DSSAnimalClassification/Archiecture/**/*.png
!DSSAnimalClassification/Archiecture/**/*.jpeg